$apdex-opacity: 0.62;

.host-card {
    background: $white;
    padding: get_spacing(3);

    &__heading {
        font-size: $body-size;
        margin-bottom: get-spacing(2);
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__list-item {
        display: flex;
        margin-bottom: get-spacing(2);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__apdex-index {
        color: $dark-grey;
        flex: 0 0 2.4rem;
        font-size: $small;
        font-weight: bold;
        line-height: 1.5;
        margin-right: get-spacing(2);
        text-align: right;
        opacity: $apdex-opacity;
    }

    &__show-tooltip-button {
        background: transparent;
        border: 0;
        cursor: pointer;
        text-align: left;
    }

    @include desktop {
        padding: get_spacing(4);
    }
}
